/* elements bibliotheques animation */
/* element avant buttons my-element */

/* premiere animation boite button */
.containerBibAnim{
   display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     height: 100%;
     background-image: url('/assets/images/abs.jpg');
}
#box{
  width: 140px; 
  height: 140px;
  border: 1px solid white;
  box-shadow: 2px 2px 5px white;
  background-image: url('/assets/images/abs.jpg');
  overflow: hidden; /* ajouter cette ligne pour éviter le débordement */
}
#btn {
   width: 100%;
   height: 100%;
   box-shadow: 2px 2px 5px white;
   background-image: url('/assets/images/abs.jpg');
   display: flex;
   justify-content: center; /* centrer horizontalement */
   align-items: center;
   flex-wrap: wrap;
   align-content: center;
}
 
#btn p{
   color: white;
   font-size: 10px;
   transition: font-size 1s;
}

/*deuxieme animation boite button animate-btn*/
#animated-box{
   width: 140px; height: 140px; background-color: rgb(91, 91, 137);
   border: 1px solid white;
   box-shadow: 2px 2px 5px white;
}
#animate-btn {
   width: 100%;
   height: 100%;
   box-shadow: 2px 2px 5px white;
   background-image: url('/assets/images/abs.jpg');
   display: flex;
   justify-content: center; /* centrer horizontalement */
   align-items: center;
   flex-wrap: wrap;
   align-content: center;
}
 
#animate-btn p{
   color: white;
   font-size: 10px;
   transition: font-size 1s;
}

/*troiseme animation boite button */
#box2 {
   width: 140px;
   height: 140px;
   border: 1px solid white;
   background-image: url('/assets/images/abs.jpg');
   box-shadow: 2px 2px 5px white;
 }
 
#animate-btn2 {
   width: 100%;
   height: 100%;
   box-shadow: 2px 2px 5px white;
   background-image: url('/assets/images/abs.jpg');
   display: flex;
   justify-content: center; /* centrer horizontalement */
   align-items: center;
   flex-wrap: wrap;
   align-content: center;
}
 
#animate-btn2 p{
   color: white;
   font-size: 10px;
   transition: font-size 1s;
}
 
 


/* flexbox */
#my-element{
   margin-bottom: 20px;
   padding-bottom: 20px;
}
.container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     height: 100%;
}

.box3 {
     width: 30%;
     height: 100px;
     margin-bottom: 20px;
     border: 1px solid grey;
     border-radius: 5px;
     text-align: center;
     line-height: 100px;
     background-color: #5692ae;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
     color: white;
     transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .box3:hover {
   transform: scale(1.05);
   opacity: 0.8;
   cursor: pointer;
 }
 .box3:nth-child(1){
   background-image: url('/assets/images/mer.jpg');
   background-position: center center;

 }
 .box3:nth-child(2){
   background-image: url('/assets/images/fleur.png');
   background-position: center center;
   
 }
 .box3:nth-child(3){
   background-image: url('/assets/images/foret.jpg');
   background-position: center center;

 }
 .box3:nth-child(4){
   background-image: url('/assets/images/herbe.jpg');
   
 }
 .box3:nth-child(5){
   background-image: url('/assets/images/coci.jpg') ;
   background-position: 10px 20px;
   background-position: center center;

 }
 .box3:nth-child(6){
   background-image: url('/assets/images/flou.jpg');
   
 }

 
 
 
    
  
  