

			/* Votre style CSS ici */
			
		    #container{
			 gap: 18px;
    			 display: flex;
			 flex-wrap: wrap;
    			
		    }
		   
			.post {
				
				background-color: #a8bda745;
				border: 1px solid grey;
				border-radius: 5px;
				margin-bottom: 10px;
				padding: 10px;
				flex: 1 0 30%; /* Largeur de 30% avec flex-grow à 1 et flex-shrink à 0 */
				margin-right: 1%; /* Marge de 1% à droite pour compenser les écarts de largeur */
				margin-left: 1%; /* Marge de 1% à gauche pour compenser les écarts de largeur */
				cursor: pointer;
			  
			}
			.post p{
				font-size: 12px;
			}
			#main > .posts > * {
				width: 90%;
				width: 100%;
			}
			
		       
     
    #container{
      gap: 18px;
          display: flex;
      flex-wrap: wrap;
         
    }
   
     .post {
          
          background-color: #a8bda745;
          border: 1px solid grey;
          border-radius: 5px;
          margin-bottom: 10px;
          padding: 10px;
          flex: 1 0 30%; /* Largeur de 30% avec flex-grow à 1 et flex-shrink à 0 */
          margin-right: 1%; /* Marge de 1% à droite pour compenser les écarts de largeur */
          margin-left: 1%; /* Marge de 1% à gauche pour compenser les écarts de largeur */
          cursor: pointer;
       
     }
     .post p{
          font-size: 12px;
     }
     #main > .posts > * {
          width: 90%;
          margin-left: 5%;
     }
     .cart{
          width: 90%;
          margin-left: 5%;
     }
     .item {

          background-color: #a8bda745;
          border: 1px solid grey;
          border-radius: 5px;
          margin-bottom: 10px;
          padding: 10px;
          flex: 1 0 30%; /* Largeur de 30% avec flex-grow à 1 et flex-shrink à 0 */
     
     }
     h1 {
     text-align: center;
     }
     form {
     background-color: white;
     border: 1px solid grey;
     border-radius: 5px;
     margin-top: 20px;
     padding: 10px;
     }
     label, input {
     display: block;
     margin-bottom: 10px;
     }
     button[type="submit"] {
     background-color: rgb(54, 162, 235);
     border: none;
     border-radius: 5px;
     color: white;
     padding: 10px;
     }
   