/* Votre style CSS ici */
#search-input{
   
     margin-bottom: 20px;
}
#search-button{
     margin-bottom: 40px;
}			
#container{
     gap: 18px;
    	display: flex;
	flex-wrap: wrap;
     background-image: url('/images/flou.jpg');
}
		   
.post {
	background-color: #a8bda745;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
     border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	flex: 1 0 30%; /* Largeur de 30% avec flex-grow à 1 et flex-shrink à 0 */
	margin-right: 1%; /* Marge de 1% à droite pour compenser les écarts de largeur */
	margin-left: 1%; /* Marge de 1% à gauche pour compenser les écarts de largeur */
	cursor: pointer;
     transition: transform 0.3s ease-in-out; /* Définir la transition avec une durée de 0.3s et une fonction d'accélération/décélération */
}
.post:hover {
     transform: translateX(10px); /* Définir la translation de 10px sur l'axe X lorsque l'élément est survolé */
     background-color: rgba(35, 96, 108, 0.38);
}
.post p{
     font-size: 12px;
     text-align: center;
     padding-top: 35px;
}
::placeholder{
     background-color: rgba(35, 96, 108, 0.38);
}
button{
     background-color: rgba(35, 96, 108, 0.38);
}
#main > .posts > * {
	width: 100%;
     background-color: rgb(59 117 57 / 16%);
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
     width: 90%;
     margin-left: 5%;
     background-image: url('/images/flou.jpg');
     background-position: center center;

}
			
/* page article*/	

.cart{
     width: 90%;
     margin-left: 5%;
}

.item {
     background-color: #a8bda745;
     border: 1px solid grey;
     border-radius: 5px;
     margin-bottom: 10px;
     padding: 10px;
     flex: 1 0 30%; /* Largeur de 30% avec flex-grow à 1 et flex-shrink à 0 */   
   
}
h1 {
     text-align: center;
}

form {
     
     background-color: white;
     border: 1px solid grey;
     border-radius: 5px;
     margin-top: 20px;
     padding: 10px;
}
label, input {
     display: block;
     margin-bottom: 10px;
    
}
button[type="submit"] {
     background-color: rgb(54, 162, 235);
     border: none;
     border-radius: 5px;
     color: white;
     padding: 10px;
}
   
     